@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'ShabnamLight';
  src: url('./fonts/Shabnam-Light.eot');
  src: url('./fonts/Shabnam-Light.eot') format('embedded-opentype'),
  url('./fonts/Shabnam-Light.woff') format('woff'),
  url('./fonts/Shabnam-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'ShabnamBold';
  src: url('./fonts/Shabnam-Bold.eot');
  src: url('./fonts/Shabnam-Bold.eot') format('embedded-opentype'),
  url('./fonts/Shabnam-Bold.woff') format('woff'),
  url('./fonts/Shabnam-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'ShabnamMid';
  src: url('./fonts/Shabnam-Medium.eot');
  src: url('./fonts/Shabnam-Medium.eot') format('embedded-opentype'),
  url('./fonts/Shabnam-Medium.woff') format('woff'),
  url('./fonts/Shabnam-Medium.ttf') format('truetype');
}
.lightShab{
  font-family: 'ShabnamLight' !important;
}
.boldShab{
  font-family: 'ShabnamBold' !important;
}
.midShab{
  font-family: 'ShabnamMid' !important;
}
*{
  margin: 0;
  overflow-x: hidden;
}
body {
  direction: rtl;
  font-family: 'ShabnamLight' !important;
}
.flex-1{
  flex:1
}
.flex-2{
  flex:2
}
.flex-3{
  flex:3
}
.flex-4{
  flex:4
}
.flex-15{
  flex:1.5
}
